<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-container">
        <h2 routerLink="/home">FORM-F</h2>
        <p>[See provision to Section 4(3), rule 9(4) and rule 10(1A)]</p>
        <p>(New amended on 4th February, 2014 notified on 31st January 2014)</p>
        <p><strong>FOR MAINTENANCE OF RECORD IN CASE OF PRENATAL DIAGNOSTIC TEST / PROCEDURE BY GENETIC CLINIC / ULTRASOUND CLINIC / IMAGING CENTRE</strong></p>
      </div>

      <div class="btn-container">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="fontStyleControl">
          <mat-button-toggle value="sectionA" routerLink="/sectionA" routerLinkActive="active">Section A</mat-button-toggle>
          <mat-button-toggle value="sectionB" routerLink="/sectionB" routerLinkActive="active">Section B</mat-button-toggle>
          <mat-button-toggle value="sectionC" routerLink="/sectionC" routerLinkActive="active">Section C</mat-button-toggle>
          <mat-button-toggle value="sectionD" routerLink="/sectionD" routerLinkActive="active">Section D</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <form [formGroup]="sectionC" (ngSubmit)="onSubmit()" >
        <p class="sub-head">SECTION C:To be filled for performing invasive Procedures/Tests only</p>
        <mat-form-field class="example-full-width width-100" appearance="fill" >
          <mat-label>Name of the doctor/s performing the procedure/s:</mat-label>
          <input matInput required placeholder="Ex. Dr.Akhil" value="" formControlName="doctorName">
        </mat-form-field>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>History of genetic/medical disease in the family (specify):</mat-label>
          <input matInput placeholder="" value="" formControlName="geneticDisease">
        </mat-form-field>
        <label id="genetic-history"> Basis of
          diagnosis (“Select” on appropriate basis of diagnosis)</label>
        <mat-radio-group aria-label="genetic-history" class="width-100 flex-space-between margin-left margin-top" formControlName="geneticHistory">
          <mat-radio-button value="Clinical">Clinical</mat-radio-button>
          <mat-radio-button value="Bio Chemical" >Bio-chemical</mat-radio-button>
          <mat-radio-button value="Cytogenetic" >Cytogenetic</mat-radio-button>
          <mat-radio-button value="others">
            Other (e.g.radiological, ultrasonography etc.- specify)
          </mat-radio-button>
          <mat-form-field class="example-full-width width-50 margin-left" appearance="fill" *ngIf="sectionC.value.geneticHistory == 'others'" >
            <mat-label>Any other (specify):</mat-label>
            <input matInput required placeholder="" value="" formControlName="otherDiagnosis">
          </mat-form-field>
        </mat-radio-group>
        <!-- Sub Groups -->
        <section class="example-section margin-top" formGroupName="diagnosisProcedureIndications">
          <mat-label class="width-100">Indication/s for the diagnosis procedure (“Tick” on appropriate indication/s):</mat-label>
          <mat-label class="example-margin width-100 margin-left">
            <mat-label class="width-100 margin-left">Previous child/children with:</mat-label>
              <ul class="sub-group-block margin-left">
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="chromosomalDisorders">Chromosomal disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="metabolicDisorders">Metabolic disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="congenitalAnomaly">Congenital anomaly</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="mentalDisability">Mental Disability</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="Haemoglobinopathy">Haemoglobinopathy</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="sexLinkedDisorders">Sex linked disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="singleGeneDisorder">Single gene disorder</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="previousChildOrChildrenWithOthers">Any Others(Specify)</mat-checkbox>
                </li>
              </ul>

              <mat-form-field class="example-full-width width-50 pd-5 margin-left" appearance="fill" *ngIf="sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthers" >
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="previousChildOrChildrenWithOthersDetail">
              </mat-form-field>

          </mat-label>
          <mat-checkbox class="example-margin width-100 margin-left pd-5" formControlName="advancedMaternalAge">Advanced maternal age (35 years)</mat-checkbox>
          <section class="margin-left-10">
            <mat-label class="width-100 pd-3">Mother/father/sibling has genetic disease (specify)
              <ul>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="mother">Mother</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="father">Father</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="sibling">Sibling</mat-checkbox>
                </li>
              </ul>
            </mat-label>
          </section>
          <section >
            <mat-checkbox class="example-margin width-100 margin-left pd-5" formControlName="diagnosisProcedureIndicationsOthers">Any Other (specify)</mat-checkbox>

            <span class="margin-left-10 pd-3" *ngIf="sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthers">
              <mat-form-field class="example-full-width width-40 margin-left" appearance="fill" >
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="diagnosisProcedureIndicationsOthersDetail">
              </mat-form-field>

            </span>
          </section>



        </section>

        <!-- Sub Groups -->
        <mat-form-field appearance="fill" class="width-100 margin-top">
          <mat-label>Date on which consent of pregnant woman/person was obtained in Form G prescribed in PC&PNDT Act, 1994</mat-label>
          <input matInput required [matDatepicker]="picker" formControlName='pregnantWomanConsentDate' >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <section class="example-section" formGroupName="invasiveProcedures">
          <mat-label class="width-100">Invasive procedures carried out (“Tick” on appropriate indication/s):
            <section class="sub-group-block">
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="amniocentesis">Amniocentesis</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="chorionicVilliAspiration">Chorionic Villi aspiration</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="fetalBiopsy">Fetal biopsy</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="Cordocentesis">Cordocentesis</mat-checkbox>

              <mat-checkbox class="example-margin width-50 margin-left" formControlName="invasiveProceduresOthers">Any other (specify)</mat-checkbox>

              <mat-form-field class="example-full-width width-50 margin-left margin-left-10" appearance="fill" *ngIf="sectionC.value.invasiveProcedures.invasiveProceduresOthers">
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="invasiveProceduresOthersDetail">
              </mat-form-field>
            </section>

          </mat-label>

        </section>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Any complication/s of invasive procedure (specify):</mat-label>
          <input matInput value="" formControlName="invasiveProcedureComplications">
        </mat-form-field>
        <section class="example-section sub-group-block" formGroupName="recommendedAditionalTests">
          <mat-label class="width-100">Additional tests recommended (please mention if applicable):</mat-label>
          <mat-checkbox class="example-margin width-50  margin-left" formControlName="chromosomalStudies">Chromosomal studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50  margin-left" formControlName="biochemicalStudies">Biochemical studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="molecularStudies">Molecular studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="preImplantationGenderDiagnosis">Pre-implantation gender diagnosis</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="recommendedAditionalTestsOthers">Any other (specify)</mat-checkbox>
          <mat-form-field class="example-full-width width-50 margin-left margin-left-10 block"  appearance="fill" *ngIf="sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthers">
            <mat-label>Any other (specify)</mat-label>
            <input matInput required value="" formControlName="recommendedAditionalTestsOthersDetail">
          </mat-form-field>

        </section>

        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Result of the Procedures/Tests carried out (report in brief of the invasive tests/procedures carried out)</mat-label>
          <input matInput required value="" formControlName="resultsOfTheProcedures">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100 margin-top">
          <mat-label>Date on which procedures carried out:</mat-label>
          <input matInput required [matDatepicker]="picker2" formControlName='proceduresCariedoutDate' >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <section>
          <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
            <mat-label>The result of pre-natal diagnostic procedures was conveyed to</mat-label>
            <input matInput required value="" formControlName="preNatalCOnveyedTo">
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-100 margin-top">
            <mat-label>The result of pre-natal diagnostic procedures was conveyed on</mat-label>
            <input matInput required [matDatepicker]="picker3" formControlName='preNatalCOnveyedOn' >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </section>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests</mat-label>
          <input matInput value="" formControlName="MTPIndiaction">
        </mat-form-field>
        <section>
          <div class="signature-container">
            <section>
              <mat-form-field appearance="fill" class="width-40 margin-top block">
                <mat-label>Date</mat-label>
                <input matInput required [matDatepicker]="picker4" formControlName='dateFIlled' >
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width width-40 margin-top" appearance="fill" >
                <mat-label>Place</mat-label>
                <input matInput required value="" formControlName="place">
              </mat-form-field>

            </section>

          </div>

        </section>

        <div class="footer-btn-container margin-top" >
          <button type="submit" class="btn btn-dark button">Submit</button>
          <button class="btn btn-dark" type="button" (click)="onClickReset()">Reset</button>
          <button class="btn btn-dark" type="button" (click)="generatePDF()">Generate PDF</button>
        </div>

      </form>
      <!-- class="visibility-none" -->
      <div  >
        <div class="row" id="pdfContent" #pdfContent>
          <div>
            <p class="bold fonts">
              SECTION C : <span class="italic fonts"> To be filled for performing invasive Procedures/Tests only</span>
            </p>

            <section>
              <p>
                17. Name of the doctor/s performing the procedure/s:
                <span class="bold" *ngIf="sectionC.value.doctorName !==null; else doctorNameEmpty ">{{sectionC.value.doctorName}}</span>
                <ng-template #doctorNameEmpty>
                  <span>____________________</span>
                </ng-template>
              </p>
              <p>
                18. (i) History of genetic/medical disease in the family (specify):
                <span class="bold" *ngIf="sectionC.value.geneticDisease !==null; else geneticDisease">{{sectionC.value.geneticDisease}}</span>
                <ng-template #geneticDisease>
                  <span>____________________</span>
                </ng-template>
              </p>
              <p>
                18. (ii) History of genetic/medical disease on basis of
                diagnosis (“Tick” on appropriate basis of diagnosis):
                <span *ngIf="sectionC.value.geneticHistory !== null; else geneticHistoryEmpty ">
                  <span class="bold"
                  *ngIf="sectionC.value.geneticHistory !== 'others'; else otherDiagnosisHistory">
                  {{sectionC.value.geneticHistory}}
                  </span>
                  <ng-template #otherDiagnosisHistory> <span class="bold">{{sectionC.value.otherDiagnosis}} </span> </ng-template>

                </span>
                <ng-template #geneticHistoryEmpty>
                  <span>____________________</span>
                </ng-template>

              </p>
              <section>
                <p>
                  19. Indication/s for the diagnosis procedure (“Tick” on appropriate indication/s):
                </p>
                <ul>
                  <li class="inline">
                    Previous child/children with:
                  </li>
                  <span *ngIf="sectionC.value.diagnosisProcedureIndications.chromosomalDisorders !== null
                    || sectionC.value.diagnosisProcedureIndications.metabolicDisorders !== null
                    || sectionC.value.diagnosisProcedureIndications.congenitalAnomaly !== null
                    || sectionC.value.diagnosisProcedureIndications.mentalDisability !== null
                    || sectionC.value.diagnosisProcedureIndications.Haemoglobinopathy !== null
                    || sectionC.value.diagnosisProcedureIndications.sexLinkedDisorders !== null
                    || sectionC.value.diagnosisProcedureIndications.singleGeneDisorder !== null
                    || sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthers !== null
                  ; else previousChildEmpty" class="wrap">
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.chromosomalDisorders" class="margin-left">
                      <i class="fa-solid fa-check"></i><span class=" bold">  Chromosomal disorders </span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.metabolicDisorders" class="margin-left">
                      <i class="fa-solid fa-check"></i><span class=" bold">Metabolic disorders</span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.congenitalAnomaly" class="margin-left">
                      <i class="fa-solid fa-check"></i>
                      <span class=" bold">
                        Congenital anomaly
                      </span>

                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.mentalDisability" class="margin-left">
                      <i class="fa-solid fa-check"></i> <span class=" bold">Mental Disability</span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.Haemoglobinopathy" class="margin-left">
                      <i class="fa-solid fa-check"></i><span class=" bold">Haemoglobinopathy</span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.sexLinkedDisorders" class="margin-left">
                      <i class="fa-solid fa-check"></i><span class=" bold">Sex linked disorders</span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.singleGeneDisorder" class="margin-left">
                      <i class="fa-solid fa-check"></i><span class=" bold">Single gene disorder</span>
                    </li>
                    <li *ngIf="sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthers" class="margin-left">

                      <span class="block"><i class="fa-solid fa-check"></i>Any Others:</span>
                      <span class=" margin-left bold">
                        {{sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthersDetail}}
                      </span>
                    </li>
                  </span>
                  <ng-template #previousChildEmpty>
                    ____________________
                  </ng-template>
                </ul>
                <ul>
                  <li  *ngIf="sectionC.value.diagnosisProcedureIndications.advancedMaternalAge">
                    <span class="bold">Advanced maternal age (35 years)</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <span class="">Mother/father/sibling has genetic disease:</span>
                    <span class="bold margin-left" *ngIf="
                      sectionC.value.diagnosisProcedureIndications.mother !== null
                      || sectionC.value.diagnosisProcedureIndications.father !== null
                      || sectionC.value.diagnosisProcedureIndications.sibling !== null
                      ; else geneticDiseaseEmpty
                    ">
                      <span *ngIf="sectionC.value.diagnosisProcedureIndications.mother" class="block margin-left"><i class="fa-solid fa-check"></i> <span>Mother</span></span>
                      <span *ngIf="sectionC.value.diagnosisProcedureIndications.father" class="block margin-left"><i class="fa-solid fa-check"></i><span>Father</span></span>
                      <span *ngIf="sectionC.value.diagnosisProcedureIndications.sibling" class="block margin-left"><i class="fa-solid fa-check"></i><span>Sibling</span></span>
                    </span>

                    <ng-template #geneticDiseaseEmpty>
                      ____________________
                    </ng-template>
                  </li>
                </ul>
                <ul>
                  <li *ngIf="sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthers">
                   <span class="block">
                    Other (specify):
                   </span>
                   <span class="bold margin-left"> {{sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthersDetail}}</span>
                  </li>
                </ul>

              </section>
              <p>
                20. Date on which consent of pregnant woman/person was obtained in Form G prescribed in PC&PNDT Act, 1994:
                <span class="bold" *ngIf="sectionC.value.pregnantWomanConsentDate !== null; else pregnantWomanConsentDateEmpty">{{sectionC.value.pregnantWomanConsentDate| date:'dd/MM/yyyy' }}</span>
                <ng-template #pregnantWomanConsentDateEmpty>
                  _________________
                </ng-template>
              </p>
              <section>
                <p class="inline">
                  21. Invasive procedures carried out (“Tick” on appropriate indication/s):
                </p>
                <ul *ngIf="sectionC.value.invasiveProcedures.amniocentesis !== false
                  || sectionC.value.invasiveProcedures.chorionicVilliAspiration !== false
                  || sectionC.value.invasiveProcedures.fetalBiopsy !== false
                  || sectionC.value.invasiveProcedures.Cordocentesis !== false
                  || sectionC.value.invasiveProcedures.invasiveProceduresOthers !== false
                  ; else invasiveProcedureEmpty
                " class="wrap">
                  <li *ngIf="sectionC.value.invasiveProcedures.amniocentesis">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">
                      Amniocentesis
                    </span>
                  </li>
                  <li *ngIf="sectionC.value.invasiveProcedures.chorionicVilliAspiration" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">
                      Chorionic Villi aspiration
                    </span>
                  </li>
                  <li *ngIf="sectionC.value.invasiveProcedures.fetalBiopsy" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Fetal biopsy</span>
                  </li>
                  <li *ngIf="sectionC.value.invasiveProcedures.Cordocentesis" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Cordocentesis</span>
                  </li>
                  <li *ngIf="sectionC.value.invasiveProcedures.invasiveProceduresOthers" class="margin-left">Any other (specify):
                    <span class="bold">{{sectionC.value.invasiveProcedures.invasiveProceduresOthersDetail}}</span>
                  </li>
                </ul>
                <ng-template #invasiveProcedureEmpty>
                  ____________________
                </ng-template>
              </section>
              <section>
                <p >22. Any complication/s of invasive procedure (specify):
                <span class="bold"
                  *ngIf="sectionC.value.invasiveProcedureComplications !== null; else invasiveProcedureComplicationsEmpty"
                >{{sectionC.value.invasiveProcedureComplications}}</span></p>

                <ng-template #invasiveProcedureComplicationsEmpty>
                  _________________
                </ng-template>
              </section>
              <section>
                <p class="inline">
                  23. Additional tests recommended (please mention if applicable):
                </p>

                <ul *ngIf = "
                  sectionC.value.recommendedAditionalTests.chromosomalStudies !== false
                  || sectionC.value.recommendedAditionalTests.biochemicalStudies !== false
                  || sectionC.value.recommendedAditionalTests.molecularStudies !== false
                  || sectionC.value.recommendedAditionalTests.preImplantationGenderDiagnosis !== false
                  || sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthers !== false
                  ; else recommendedAditionalTestsEmpty
                " class="wrap">
                  <li  *ngIf="sectionC.value.recommendedAditionalTests.chromosomalStudies">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Chromosomal studies</span>
                  </li>
                  <li  *ngIf="sectionC.value.recommendedAditionalTests.biochemicalStudies" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Biochemical studies</span>
                  </li>
                  <li *ngIf="sectionC.value.recommendedAditionalTests.molecularStudies" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Molecular studies</span>
                  </li>
                  <li  *ngIf="sectionC.value.recommendedAditionalTests.preImplantationGenderDiagnosis" class="margin-left">
                    <i class="fa-solid fa-check"></i>
                    <span class="bold">Pre-implantation gender diagnosis</span>
                  </li>
                  <li *ngIf="sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthers" class="margin-left">
                    Any other (specify): <span class="bold">{{sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthersDetail}}</span>
                  </li>
                </ul>
                <ng-template #recommendedAditionalTestsEmpty>
                  _________________
                </ng-template>
              </section>
              <section>
                <p>24. Result of the Procedures/Tests carried out (report in brief of the invasive tests/procedures carried out):
                  <span class="bold"
                  *ngIf="sectionC.value.resultsOfTheProcedures !== null ;
                    else resultsOfTheProceduresEmpty
                  "
                  >{{sectionC.value.resultsOfTheProcedures}}</span>
                </p>
                <ng-template #resultsOfTheProceduresEmpty>
                  _________________
                </ng-template>
              </section>
              <section>
                <p>25. Date on which procedures carried out:
                  <span class="bold" *ngIf="sectionC.value.proceduresCariedoutDate !== null; else proceduresCariedoutDateEmpty">
                    {{sectionC.value.proceduresCariedoutDate | date:'dd/MM/yyyy'}}
                  </span>
                </p>
                <ng-template #proceduresCariedoutDateEmpty>
                  _________________
                </ng-template>
              </section>
              <section>
                <p>26. The result of pre-natal diagnostic procedures was conveyed to
                  <span class="bold" *ngIf="sectionC.value.preNatalCOnveyedTo !== '' else preNatalCOnveyedToEmpty">{{sectionC.value.preNatalCOnveyedTo}}</span>
                  <!-- <ng-template #blank1>____________________</ng-template> -->
                  on

                  <span class="bold" *ngIf="sectionC.value.preNatalCOnveyedOn !== '' else preNatalCOnveyedOnEmpty">{{sectionC.value.preNatalCOnveyedOn | date:'dd/MM/yyyy'}}</span></p>
                  <!-- <ng-template #blank2>____________________</ng-template> -->
                <ng-template #preNatalCOnveyedToEmpty>
                  _________________
                </ng-template>
                <ng-template #preNatalCOnveyedOnEmpty>
                  _________________
                </ng-template>

              </section>
              <section>
                <p>27. Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests:
                  <span class="bold" *ngIf="sectionC.value.MTPIndiaction !== null
                  ; else MTPIndiactionEmpty
                  ">{{sectionC.value.MTPIndiaction}}</span>
                </p>
                <ng-template #MTPIndiactionEmpty>
                  _________________
                </ng-template>
              </section>
              <div class="signature-container">
                <div>
                  <p>
                    Date:
                    <span class="bold"
                      *ngIf="sectionC.value.dateFIlled !== null;
                      else dateFIlledEmpty
                    "
                    >{{sectionC.value.dateFIlled | date:'dd/MM/yyyy'}}</span>
                  </p>
                  <ng-template #dateFIlledEmpty>
                    _________________
                  </ng-template>
                  <p>
                    Place: <span class="bold"
                    *ngIf="sectionC.value.place !== null;
                      else placeEmpty
                    "
                    >
                    {{sectionC.value.place}}
                    </span>
                  </p>
                  <ng-template #placeEmpty>
                    _________________
                  </ng-template>
                </div>
                <div>
                  <p class="signature-box block" id="signature-box">

                    Name, Signature and Registration Number with Seal of
                    the Gynaecologist/ Radiologist/Registered Medical
                    Practitioner performing diagnostic Procedure/s</p>
                </div>
              </div>
            </section>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
