.width-100 {
  width: 70vw;
  display: block;
}

h2 {
  margin-top: 50px;
  text-decoration: underline;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-container {
  text-align: center;
}

.width-50 {
  display: inline-block;
  width: 40vw;
}

.width-30 {
  width: 20vw;
}

.sub-group-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

button {
  margin-right: 20px;
  box-shadow: 0px 0px 4px 4px #dbdbdb;
  margin-bottom: 8px;
  font-family: "Times New Roman", Times, serif;
}

.margin-left {
  margin-left: 2vw;
}
.margin-left-10 {
  margin-left: 3.2vw;
}

ul {
  list-style-type: none;
}

.sub-head {
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  text-align: start;
}

.footer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
