.width-100 {
  width: 70vw;
  display: block;
}

h2 {
  margin-top: 50px;
  text-decoration: underline;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-container {
  text-align: center;
}

.width-50 {
  display: inline-block;
  width: 40vw;
}

.width-30 {
  width: 20vw;
}

.sub-group-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

button {
  margin-right: 20px;
  box-shadow: 0px 0px 4px 4px #dbdbdb;
  margin-bottom: 8px;
  font-family: "Times New Roman", Times, serif;
}

.margin-left {
  margin-left: 2vw;
}
.margin-left-10 {
  margin-left: 3.2vw;
}

ul {
  list-style-type: none;
  margin-bottom: 5px;
  margin-top: auto;
}

.sub-head {
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  text-align: start;
}

.footer-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* add below classes*/
.pd-5{
  padding-left: 32px;
}
.pd-3{
  padding-left: 12px;
}
.active{
  background-color: whitesmoke;
  font-weight: 600;
}

.width-40{
  width: 630px;
}

.block{
  display: block;
  margin-top: 0px;
}
.signature-box {
  border-style: dashed;
  border-width: 1px;
  /* margin-bottom: 20px; */
  background-color: #fdf8f6;
  padding: 10px;
  text-align: end;
  width: 300px;
  padding-top: 50px;
  /* width: 350px */
}
.signature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-top {
  margin-top: 1vh;
}

.italic{
  font-style: italic;
  font-weight: 600;
}

.bold{
  font-weight: 900;
}

.text-decoration{
  /* text-decoration: underline; */
  border-bottom: #000000 2px solid;
  margin-left:7px;
}


.main-text-decoration{
  border-bottom: #000000 2px solid;
  margin-left: 0px;
}


#pdfContent{
  width:595px;
  height: 842px;
  padding: 10px;
  font-size: 10px;
  line-height: inherit;
  page-break-after: always;
}

p{
  margin-bottom: 5px;
}

.fonts{
  font-size: 18px !important;
  margin-bottom: 4px;
  padding: 0px;
  font-weight: 900;
}


.visibility-none{
  visibility: hidden;
}

@media screen and (max-width:786px) {
  .sub-group-block{
    flex-direction: column;
    align-items: flex-start;
  }
  .width-100{
    width: 90vw;
  }
  .pd-5{
    padding: 20px;
  }
  .width-40{
    width: 50vw;
  }
}
