<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-container">
        <h2 routerLink="/home">FORM-F</h2>
        <p>[See provision to Section 4(3), rule 9(4) and rule 10(1A)]</p>
        <p>(New amended on 4th February, 2014 notified on 31st January 2014)</p>
        <p><strong>FOR MAINTENANCE OF RECORD IN CASE OF PRENATAL DIAGNOSTIC TEST / PROCEDURE BY GENETIC CLINIC / ULTRASOUND CLINIC / IMAGING CENTRE</strong></p>
      </div>

      <div class="btn-container">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="fontStyleControl">
          <mat-button-toggle value="sectionA" routerLink="/sectionA" routerLinkActive="active">Section A</mat-button-toggle>
          <mat-button-toggle value="sectionB" routerLink="/sectionB" routerLinkActive="active">Section B</mat-button-toggle>
          <mat-button-toggle value="sectionC" routerLink="/sectionC" routerLinkActive="active">Section C</mat-button-toggle>
          <mat-button-toggle value="sectionD" routerLink="/sectionD" routerLinkActive="active">Section D</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <form [formGroup]="sectionC" (ngSubmit)="onSubmit()" >
        <p class="sub-head">SECTION C:To be filled for performing invasive Procedures/Tests only</p>
        <mat-form-field class="example-full-width width-100" appearance="fill" >
          <mat-label>Name of the doctor/s performing the procedure/s:</mat-label>
          <input matInput required placeholder="Ex. Dr.Akhil" value="" formControlName="doctorName">
        </mat-form-field>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>History of genetic/medical disease in the family (specify):</mat-label>
          <input matInput required placeholder="" value="" formControlName="geneticDisease">
        </mat-form-field>
        <label id="genetic-history"> Basis of
          diagnosis (“Select” on appropriate basis of diagnosis)</label>
        <mat-radio-group aria-label="genetic-history" class="width-100 flex-space-between margin-left margin-top" formControlName="geneticHistory" required>
          <mat-radio-button value="Clinical">Clinical</mat-radio-button>
          <mat-radio-button value="Bio Chemical" >Bio-chemical</mat-radio-button>
          <mat-radio-button value="Cytogenetic" >Cytogenetic</mat-radio-button>
          <mat-radio-button value="others">
            Other (e.g.radiological, ultrasonography etc.- specify)
          </mat-radio-button>
          <mat-form-field class="example-full-width width-50 margin-left" appearance="fill" *ngIf="sectionC.value.geneticHistory == 'others'" >
            <mat-label>Any other (specify):</mat-label>
            <input matInput required placeholder="" value="" formControlName="otherDiagnosis">
          </mat-form-field>
        </mat-radio-group>
        <!-- Sub Groups -->
        <section class="example-section margin-top" formGroupName="diagnosisProcedureIndications">
          <mat-label class="width-100">Indication/s for the diagnosis procedure (“Tick” on appropriate indication/s):</mat-label>
          <mat-label class="example-margin width-100 margin-left">
            <mat-label class="width-100 margin-left">Previous child/children with:</mat-label>
              <ul class="sub-group-block margin-left">
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="chromosomalDisorders">Chromosomal disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="metabolicDisorders">Metabolic disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="congenitalAnomaly">Congenital anomaly</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="mentalDisability">Mental Disability</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="Haemoglobinopathy">Haemoglobinopathy</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="sexLinkedDisorders">Sex linked disorders</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="singleGeneDisorder">Single gene disorder</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-30" formControlName="previousChildOrChildrenWithOthers">Any Others(Specify)</mat-checkbox>
                </li>
              </ul>

              <mat-form-field class="example-full-width width-50 pd-5 margin-left" appearance="fill" *ngIf="sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthers" >
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="previousChildOrChildrenWithOthersDetail">
              </mat-form-field>

          </mat-label>
          <mat-checkbox class="example-margin width-100 margin-left pd-5" formControlName="advancedMaternalAge">Advanced maternal age (35 years)</mat-checkbox>
          <section class="margin-left-10">
            <mat-label class="width-100 pd-3">Mother/father/sibling has genetic disease (specify)
              <ul>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="mother">Mother</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="father">Father</mat-checkbox>
                </li>
                <li>
                  <mat-checkbox class="example-margin width-50" formControlName="sibling">Sibling</mat-checkbox>
                </li>
              </ul>
            </mat-label>
          </section>
          <section >
            <mat-checkbox class="example-margin width-100 margin-left pd-5" formControlName="diagnosisProcedureIndicationsOthers">Any Other (specify)</mat-checkbox>

            <span class="margin-left-10 pd-3" *ngIf="sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthers">
              <mat-form-field class="example-full-width width-40 margin-left" appearance="fill" >
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="diagnosisProcedureIndicationsOthersDetail">
              </mat-form-field>

            </span>
          </section>



        </section>

        <!-- Sub Groups -->
        <mat-form-field appearance="fill" class="width-100 margin-top">
          <mat-label>Date on which consent of pregnant woman/person was obtained in Form G prescribed in PC&PNDT Act, 1994</mat-label>
          <input matInput required [matDatepicker]="picker" formControlName='pregnantWomanConsentDate' >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <section class="example-section" formGroupName="invasiveProcedures">
          <mat-label class="width-100">Invasive procedures carried out (“Tick” on appropriate indication/s):
            <section class="sub-group-block"> 
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="amniocentesis">Amniocentesis</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="chorionicVilliAspiration">Chorionic Villi aspiration</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="fetalBiopsy">Fetal biopsy</mat-checkbox>
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="Cordocentesis">Cordocentesis</mat-checkbox>
  
              <mat-checkbox class="example-margin width-50 margin-left" formControlName="invasiveProceduresOthers">Any other (specify)</mat-checkbox>
  
              <mat-form-field class="example-full-width width-50 margin-left margin-left-10" appearance="fill" *ngIf="sectionC.value.invasiveProcedures.invasiveProceduresOthers">
                <mat-label>Any other (specify)</mat-label>
                <input matInput required value="" formControlName="invasiveProceduresOthersDetail">
              </mat-form-field> 
            </section>
            
          </mat-label>

        </section>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Any complication/s of invasive procedure (specify):</mat-label>
          <input matInput value="" formControlName="invasiveProcedureComplications">
        </mat-form-field>
        <section class="example-section sub-group-block" formGroupName="recommendedAditionalTests">
          <mat-label class="width-100">Additional tests recommended (please mention if applicable):</mat-label>
          <mat-checkbox class="example-margin width-50  margin-left" formControlName="chromosomalStudies">Chromosomal studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50  margin-left" formControlName="biochemicalStudies">Biochemical studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="molecularStudies">Molecular studies</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="preImplantationGenderDiagnosis">Pre-implantation gender diagnosis</mat-checkbox>
          <mat-checkbox class="example-margin width-50 margin-left" formControlName="recommendedAditionalTestsOthers">Any other (specify)</mat-checkbox>
          <mat-form-field class="example-full-width width-50 margin-left margin-left-10 block"  appearance="fill" *ngIf="sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthers">
            <mat-label>Any other (specify)</mat-label>
            <input matInput required value="" formControlName="recommendedAditionalTestsOthersDetail">
          </mat-form-field>
          
        </section>

        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Result of the Procedures/Tests carried out (report in brief of the invasive tests/procedures carried out)</mat-label>
          <input matInput required value="" formControlName="resultsOfTheProcedures">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100 margin-top">
          <mat-label>Date on which procedures carried out:</mat-label>
          <input matInput required [matDatepicker]="picker2" formControlName='proceduresCariedoutDate' >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <section>
          <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
            <mat-label>The result of pre-natal diagnostic procedures was conveyed to</mat-label>
            <input matInput required value="" formControlName="preNatalCOnveyedTo">
          </mat-form-field>
          <mat-form-field appearance="fill" class="width-100 margin-top">
            <mat-label>The result of pre-natal diagnostic procedures was conveyed on</mat-label>
            <input matInput required [matDatepicker]="picker3" formControlName='preNatalCOnveyedOn' >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </section>
        <mat-form-field class="example-full-width width-100 margin-top" appearance="fill" >
          <mat-label>Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests</mat-label>
          <input matInput required value="" formControlName="MTPIndiaction">
        </mat-form-field>
        <section>
          <div class="signature-container">
            <section>
              <mat-form-field appearance="fill" class="width-40 margin-top block">
                <mat-label>Date</mat-label>
                <input matInput required [matDatepicker]="picker4" formControlName='dateFIlled' >
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width width-40 margin-top" appearance="fill" >
                <mat-label>Place</mat-label>
                <input matInput required value="" formControlName="place">
              </mat-form-field>

            </section>
            
          </div>
          
        </section>

        <div class="footer-btn-container margin-top" >
          <button type="submit" class="btn btn-dark button">Submit</button>
          <button class="btn btn-dark" type="button" (click)="onClickReset()">Reset</button>
          <button class="btn btn-dark" type="button" (click)="generatePDF()">Generate PDF</button>
        </div>

      </form>

      <div class="row" id="pdfContent" #pdfContent>
        <p class="bold">
          SECTION C : <span class="italic"> To be filled for performing invasive Procedures/Tests only</span>
        </p>

        <section>
          <p>
            Name of the doctor/s performing the procedure/s: <span class="text-decoration bold">{{sectionC.value.doctorName}}</span>
          </p>
          <p>
            History of genetic/medical disease in the family (specify): <span class="text-decoration bold">{{sectionC.value.geneticDisease}}</span>
          </p>
          <p>
            History of genetic/medical disease on basis of
            diagnosis (“Tick” on appropriate basis of diagnosis): 
            <span class="text-decoration bold" 
              *ngIf="sectionC.value.geneticHistory !== 'others'; else otherDiagnosisHistory">
              {{sectionC.value.geneticHistory}}
            </span>
            <ng-template #otherDiagnosisHistory> <span class="text-decoration bold">{{sectionC.value.otherDiagnosis}} </span> </ng-template>
          </p>
          <section>
            <p>
              Indication/s for the diagnosis procedure (“Tick” on appropriate indication/s):
            </p>
            <ul>
              <li>
                Previous child/children with:
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.chromosomalDisorders" class="margin-left">
                Chromosomal disorders
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.metabolicDisorders" class="margin-left">
                Metabolic disorders
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.congenitalAnomaly" class="margin-left">
                Congenital anomaly
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.mentalDisability" class="margin-left">
                Mental Disability
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.Haemoglobinopathy" class="margin-left">
                Haemoglobinopathy
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.sexLinkedDisorders" class="margin-left">
                Sex linked disorders
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.singleGeneDisorder" class="margin-left">
                Single gene disorder
              </li>
              <li *ngIf="sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthers" class="margin-left">
                Any Others: 
                <span class="block margin-left">
                  {{sectionC.value.diagnosisProcedureIndications.previousChildOrChildrenWithOthersDetail}}
                </span> 
              </li>
            </ul>
            <ul>
              <li>
                Advanced maternal age (35 years): <span class="text-decoration bold"> {{sectionC.value.diagnosisProcedureIndications.advancedMaternalAge}}</span>
              </li>
            </ul>
            <ul>
              <li>
                Mother/father/sibling has genetic disease:
                <span class="text-decoration bold">
                  <span *ngIf="sectionC.value.diagnosisProcedureIndications.mother">Mother,</span>
                  <span *ngIf="sectionC.value.diagnosisProcedureIndications.father">Father,</span>
                  <span *ngIf="sectionC.value.diagnosisProcedureIndications.sibling">Sibling</span>
                </span>
              </li>
            </ul>
            <ul>
              <li>
                Other (specify):
              </li>
              <li class="margin-left" *ngIf="sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthers">
                {{sectionC.value.diagnosisProcedureIndications.diagnosisProcedureIndicationsOthersDetail}}
              </li>
            </ul>

          </section>
          <p>
            Date on which consent of pregnant woman/person was obtained in Form G prescribed in PC&PNDT Act, 1994:
            <span class="text-decoration bold">{{sectionC.value.pregnantWomanConsentDate| date:'dd/MM/yyyy' }}</span>
          </p>
          <section>
            <p>
              Invasive procedures carried out (“Tick” on appropriate indication/s):
            </p>
            <ul>
              <li>Amniocentesis: <span class="text-decoration bold">{{sectionC.value.invasiveProcedures.amniocentesis}}</span> </li>
              <li>Chorionic Villi aspiration: <span class="text-decoration bold">{{sectionC.value.invasiveProcedures.chorionicVilliAspiration}}</span> </li>
              <li>Fetal biopsy: <span class="text-decoration bold">{{sectionC.value.invasiveProcedures.fetalBiopsy}}</span> </li>
              <li>Cordocentesis: <span class="text-decoration bold">{{sectionC.value.invasiveProcedures.Cordocentesis}}</span> </li>
              <li>Any other (specify): <span class="text-decoration bold">{{sectionC.value.invasiveProcedures.invasiveProceduresOthersDetail}}</span> </li>
            </ul>
          </section>
          <section>
            <p>Any complication/s of invasive procedure (specify): <span class="text-decoration bold">{{sectionC.value.invasiveProcedureComplications}}</span></p>
          </section>
          <section>
            <p>
              Additional tests recommended (please mention if applicable):
            </p>
            <ul>
              <li>
                Chromosomal studies: <span class="text-decoration bold">{{sectionC.value.recommendedAditionalTests.chromosomalStudies}}</span>
              </li>
              <li>
                Biochemical studies: <span class="text-decoration bold">{{sectionC.value.recommendedAditionalTests.biochemicalStudies}}</span>
              </li>
              <li>
                Molecular studies: <span class="text-decoration bold">{{sectionC.value.recommendedAditionalTests.molecularStudies}}</span>
              </li>
              <li>
                Pre-implantation gender diagnosis: <span class="text-decoration bold">{{sectionC.value.recommendedAditionalTests.preImplantationGenderDiagnosis}}</span>
              </li>
              <li>
                Any other (specify): <span class="text-decoration bold" *ngIf="sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthers">{{sectionC.value.recommendedAditionalTests.recommendedAditionalTestsOthersDetail}}</span>
              </li>
            </ul>
          </section>
          <section>
            <p>Result of the Procedures/Tests carried out (report in brief of the invasive tests/procedures carried out): <span class="text-decoration bold">{{sectionC.value.resultsOfTheProcedures}}</span></p>
          </section>
          <section>
            <p>Date on which procedures carried out: <span class="text-decoration bold">{{sectionC.value.proceduresCariedoutDate | date:'dd/MM/yyyy'}}</span></p>
          </section>
          <section>
            <p>The result of pre-natal diagnostic procedures was conveyed to <span class="text-decoration bold">{{sectionC.value.preNatalCOnveyedTo}}</span> 
              <!-- <ng-template #blank1>____________________</ng-template> -->
              on 
              
              <span class="text-decoration bold">{{sectionC.value.preNatalCOnveyedOn | date:'dd/MM/yyyy'}}</span></p>
              <!-- <ng-template #blank2>____________________</ng-template> -->
          </section>
          <section>
            <p>Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests: 
              <span class="text-decoration bold">{{sectionC.value.MTPIndiaction}}</span>
            </p>
          </section>
          <div class="signature-container">
            <div>
              <p>
                Date: <span class="text-decoration bold">{{sectionC.value.dateFIlled | date:'dd/MM/yyyy'}}</span>
              </p>
              <p>
                Place: <span class="text-decoration bold">{{sectionC.value.place}}</span>
              </p>
            </div>
            <p class="signature-box" id="signature-box">
              
              Name, Signature and Registration Number with Seal of
              the Gynaecologist/ Radiologist/Registered Medical
              Practitioner performing diagnostic Procedure/s</p>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
