<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 routerLink="/home">FORM-F</h2>
      <p>[See provison to Section 4(3), rule 9(4) and rule 10(1A)]</p>
      <p>(New amended on 4th February, 2014 notified on 31st January 2014)</p>
      <p><strong>FOR MAINTENANCE OF RECORD IN CASE OF PRENATAL DIAGNOSTIC TEST / PROCEDURE BY GENETIC CLINIC / ULTRASOUND CLINIC / IMAGING CENTRE</strong></p>
       <div class="btn-container">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="sectionA" routerLink="/sectionA" routerLinkActive="active">Section A</mat-button-toggle>
        <mat-button-toggle value="sectionB" routerLink="/sectionB" routerLinkActive="active">Section B</mat-button-toggle>
        <mat-button-toggle value="sectionC" routerLink="/sectionC" routerLinkActive="active">Section C</mat-button-toggle>
        <mat-button-toggle value="sectionD" routerLink="/sectionD" routerLinkActive="active">Section D</mat-button-toggle>
      </mat-button-toggle-group>
      </div>

      <form [formGroup]="form2"  (ngSubmit)="onAdd()" class="form-container">
        <p class="sub-head">Section B: To be filled in for performing non-invasive diagnostic Procedures/Tests only</p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name of the doctor performing the procedure/s:</mat-label>
          <input matInput id="docter_name" formControlName="docter_name">
        </mat-form-field><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Indication/s for diagnosis procedure</mat-label>
          <input matInput #message id="indications" formControlName="indications" >
          <mat-hint align="start"><strong>(specify with reference to the request made in the referral slip or in a self-referral note)</strong> </mat-hint>
        </mat-form-field>
          <p class="sub-head">Put a “Tick” against the appropriate indication/s for ultrasound</p>
          <div>
          <div *ngFor="let checkbox of checkboxList" formGroupName="checkBoxs" class="checkbox-container" >
          <mat-checkbox formControlName={{checkbox}}  value={{checkbox}} color="primary"><span>{{checkbox}}</span></mat-checkbox>
          </div>

          <div class="col-2"></div>
        </div>
        <p class="sub-head">Procedures carried out (Non-Invasive) (Put a “Tick” on the appropriate procedure)</p>
        <div class="align" >
          <mat-radio-group aria-label="Select an option" formControlName="procedure">
            <mat-radio-button value="UltraSound" (click)='onClickultrasound()' color="primary">Ultrasound</mat-radio-button>
            <div formArrayName="otherProcedure">
            <mat-radio-button value="AnyOther" (click)='onClickBtn()' color="primary">AnyOther</mat-radio-button>
                <div *ngFor="let hobbyControl of getControls(); let i = index" >
                  <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Other Procedure</mat-label>
                    <input required="" matInput [formControlName]="i">
                  </mat-form-field>
                </div>
          </div>
          </mat-radio-group>
      </div><br>
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Date on which declaration of pregnant woman/person was obtained:</mat-label>
        <input type="date" matInput formControlName="dateOfDeclaration" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Date on which procedures carried out:</mat-label>
        <input type="date" matInput formControlName="dateOfProcedure" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Result of the non-invasive procedure carried out (report in brief of the test including ultrasound carried out)</mat-label>
        <input matInput formControlName="resultOfProcedure" >
      </mat-form-field>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>The result of pre-natal diagnostic procedures was conveyed to</mat-label>
          <input matInput formControlName="resultConveyedTo" >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>on</mat-label>
          <input type="date" matInput formControlName="resultConveyedOn" >
        </mat-form-field></td>
      </tr></table>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests</mat-label>
        <input matInput formControlName="indication" >
      </mat-form-field>
      <mat-form-field  appearance="fill" class="w-50">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date" >
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="w-50">
          <mat-label>Place</mat-label>
          <input matInput formControlName="place" >
        </mat-form-field><br>
        <div class="btn-container2">
          <button class="btn btn-dark" type="submit">Submit</button>
          <button class="btn btn-dark" type="button" (click)="onClickReset()">Reset</button>
          <button class="btn btn-dark" type="button" (click)="generatePDFSectionB()">Generate PDF</button>
        </div>
      </form>
      <div class="visibility-none">
        <div class="row" id="pdfContent" #pdfContent>
          <p class="bold">
            SECTION B: To be filled in for performing non-invasive diagnostic Procedures/Tests only
          </p>
          <div>
            <p>Name of the doctor performing the procedure/s: <span class="text-decoration bold">{{form2.value.docter_name}}</span></p>
            <p>Indication/s for diagnosis procedure <span class="text-decoration bold">{{form2.value.indications}}</span>
              <br>
              (specify with reference to the request made in the referral slip or in a self-referral note)
            </p>
            <p>
              Put a “Tick” against the appropriate indication/s for ultrasound:
            </p>
            <ul>
              <li *ngIf="form2.value.checkBoxs['To diagnose intra-uterine and or ectopic pregnancy and confirm viability']">
                <i class="fa-solid fa-check"></i> <span class="bold">To diagnose intra-uterine and or ectopic pregnancy and confirm viability</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Estimation of gestational age (dating)']">
                <i class="fa-solid fa-check"></i> <span class="bold">Estimation of gestational age (dating)</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Vaginal bleeding OR leaking']">
                <i class="fa-solid fa-check"></i> <span class="bold">Vaginal bleeding OR leaking</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Suspected pregnancy with IUCD in-situ or suspected pregnancy following contraceptive failure OR MTP failure']">
                <i class="fa-solid fa-check"></i> <span class="bold">Suspected pregnancy with IUCD in-situ or suspected pregnancy following contraceptive failure OR MTP failure</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Follow-up of cases of abortion']">
                <i class="fa-solid fa-check"></i> <span class="bold">Follow-up of cases of abortion</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Assessment of cervical canal and diameter of internal os']">
                <i class="fa-solid fa-check"></i> <span class="bold">Assessment of cervical canal and diameter of internal os</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Discrepancy between uterine size and period of amenorrhea']">
                <i class="fa-solid fa-check"></i> <span class="bold">Discrepancy between uterine size and period of amenorrhea</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Any suspected adenexal or uterine pathology OR abnormality']">
                <i class="fa-solid fa-check"></i> <span class="bold">Any suspected adenexal or uterine pathology OR abnormality</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Detection of chromosomal abnormalities, fetal structural defects and other abnormalities and their follow-up']">
                <i class="fa-solid fa-check"></i> <span class="bold">Detection of chromosomal abnormalities, fetal structural defects and other abnormalities and their follow-up</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['To evaluate fetal presentation and position']">
                <i class="fa-solid fa-check"></i> <span class="bold">To evaluate fetal presentation and position</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Assessment of liquor amnii']">
                <i class="fa-solid fa-check"></i> <span class="bold">Assessment of liquor amnii</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Preterm labor OR preterm premature rupture of membranes']">
                <i class="fa-solid fa-check"></i> <span class="bold">Preterm labor OR preterm premature rupture of membranes</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Evaluation of placental position, thickness, grading and abnormalities (placenta praevia, retro placental haemorrhage, abnormal adherence etc']">
                <i class="fa-solid fa-check"></i> <span class="bold">Evaluation of placental position, thickness, grading and abnormalities (placenta praevia, retro placental haemorrhage, abnormal adherence etc</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Evaluation of umbilical cord presentation, insertion, nuchal encirclement, number of vessels and presence of true knot']">
                <i class="fa-solid fa-check"></i> <span class="bold">Evaluation of umbilical cord presentation, insertion, nuchal encirclement, number of vessels and presence of true knot</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Evaluation of previous Caesarean Section scars']">
                <i class="fa-solid fa-check"></i> <span class="bold">Evaluation of previous Caesarean Section scars</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Evaluation of fetal growth parameters, fetal weight and fetal well being']">
                <i class="fa-solid fa-check"></i> <span class="bold">Evaluation of fetal growth parameters, fetal weight and fetal well being</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Color flow mapping and duplex Doppler studies']">
                <i class="fa-solid fa-check"></i> <span class="bold">Color flow mapping and duplex Doppler studies</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Ultrasound guided procedures such as medical termination of pregnancy, external cephalic version etc and their follow-up']">
                <i class="fa-solid fa-check"></i> <span class="bold">Ultrasound guided procedures such as medical termination of pregnancy, external cephalic version etc and their follow-up</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Adjunct to diagnostic and therapeutic invasive interventions such as chorionic villus sampling (CVS),amniocenteses, feel blood sampling, fetal skin biopsy, amnio-infusion, intrauterine infusion, placement of shunts etc']">
                <i class="fa-solid fa-check"></i> <span class="bold">Adjunct to diagnostic and therapeutic invasive interventions such as chorionic villus sampling (CVS),amniocenteses, feel blood sampling, fetal skin biopsy, amnio-infusion, intrauterine infusion, placement of shunts etc</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Observation of intra-partum events']">
                <i class="fa-solid fa-check"></i> <span class="bold">Observation of intra-partum events</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Medical or surgical conditions complicating pregnancy']">
                <i class="fa-solid fa-check"></i> <span class="bold">Medical or surgical conditions complicating pregnancy</span>
              </li>
              <li *ngIf="form2.value.checkBoxs['Research OR scientific studies in recognized institutions']">
                <i class="fa-solid fa-check"></i> <span class="bold">Research OR scientific studies in recognized institutions</span>
              </li>
            </ul>
            <p>
              Procedures carried out (Non-Invasive) (Put a “Tick” on the appropriate procedure)
            </p>
            <ul>
              <li *ngIf="ultraBool">
                <i class="fa-solid fa-check"></i> <span class="bold text-decoration">Ultrasound</span>
              </li>
              <li *ngIf="arrayBool">
                <i class="fa-solid fa-check"></i> Any other (specify) <span class="bold text-decoration">{{form2.value.otherProcedure[0]}}</span>
              </li>
            </ul>
            <p>
              Date on which declaration of pregnant woman/person was obtained:- <span class="bold text-decoration">{{form2.value.dateOfDeclaration}}</span>
            </p>
            <p>
              Date on which procedures carried out:<span class="bold text-decoration">{{form2.value.dateOfProcedure}}</span>
            </p>
            <p>
              Result of the non-invasive procedure carried out (report in brief of the test including ultrasound carried out):
               <span class="bold text-decoration">{{form2.value.resultOfProcedure}}</span>
            </p>
            <p>
              The result of pre-natal diagnostic procedures was conveyed to:
              <span class="bold text-decoration">{{form2.value.resultConveyedTo}}</span>
            </p>
            <p>
              The result of pre-natal diagnostic procedures was conveyed on:
              <span class="bold text-decoration">{{form2.value.resultConveyedOn}}</span>
            </p>
            <p>
              Any indication for MTP as per the abnormality detected in the diagnostic procedures/tests:
              <span class="bold text-decoration">{{form2.value.indication}}</span>
            </p>
            <div class="signature-container">
              <div>
                <p>
                  Date: <span class="bold text-decoration">{{form2.value.date}}</span>
                </p>
                <p>
                  Place: <span class="bold text-decoration">{{form2.value.place}}</span>
                </p>
              </div>
              <div>
                <p class="signature-box block" id="signature-box">

                  Name, Signature and Registration Number with Seal of
                  the Gynaecologist/Radiologist/Registered Medical
                  Practitioner performing Diagnostic Procedure/s
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
