<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
      <div class="nav-container">
        <h2 routerLink="/home">FORM-F</h2>
        <p>[See provision to Section 4(3), rule 9(4) and rule 10(1A)]</p>
        <p>(New amended on 4th February, 2014 notified on 31st January 2014)</p>
        <p><strong>FOR MAINTENANCE OF RECORD IN CASE OF PRENATAL DIAGNOSTIC TEST / PROCEDURE BY GENETIC CLINIC / ULTRASOUND CLINIC / IMAGING CENTRE</strong></p>
      </div>

      <div class="btn-container">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="fontStyleControl">
          <mat-button-toggle value="sectionA" routerLink="/sectionA" routerLinkActive="active">Section A</mat-button-toggle>
          <mat-button-toggle value="sectionB" routerLink="/sectionB" routerLinkActive="active">Section B</mat-button-toggle>
          <mat-button-toggle value="sectionC" routerLink="/sectionC" routerLinkActive="active">Section C</mat-button-toggle>
          <mat-button-toggle value="sectionD" routerLink="/sectionD" routerLinkActive="active">Section D</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <p class="sub-head">SECTION D: Declaration
        <br>
        DECLARATION OF THE PERSON UNDERGOING PRE-NATAL DIAGNOSTIC TEST</p>
        <form class="example-form" [formGroup]="sectionD" (ngSubmit)="onSubmit()">

          I, Mrs. / Mr.
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput required placeholder="Ex. Akhil"  formControlName="name">
          </mat-form-field>
          declare that by undergoing
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput required placeholder="" formControlName="diagnosis">
          </mat-form-field>
          Pre-Natal diagnostic test/procedure. I do not want to know the sex of my foetus.
          <br>
          <div class="signature-container">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput required [matDatepicker]="picker" formControlName="dateOfDeclaretion">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <p class="signature-box">Signature / thumb impression of the person
              undergoing the pre-natal Diagnostic Test/procedure</p> -->
          </div>
  
  
          <br>
          <p><strong>In case of thumb impression</strong></p>
          <hr>
          Identified by (name)
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="Ex. Akhil" formControlName="nameOfIdentification">
            </mat-form-field>
          age
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input type="number" required matInput placeholder="Ex. 24" formControlName="age">
          </mat-form-field>
          sex
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option *ngFor = "let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          Relation (if any)
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Relationship</mat-label>
            <input matInput required placeholder="Ex. Father" formControlName="relationship">
          </mat-form-field>
          <br>
          address 
          
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput required formControlName="address">
          </mat-form-field>
          and contact no
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contact Number</mat-label>
            <input type="number" matInput placeholder="Ex. 9898979796" minlength="10" maxlength="10" formControlName="contactNumber">
          </mat-form-field>
  
          <br>
  
          <div class="signature-container">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="dateOfAttestation">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
  
            <br>
            
            <p><strong>Declaration of Doctor/Person conducting per natal diagnostic procedure/test </strong></p>
          
            <hr>
            I,
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="" formControlName="nameOfPersonConductingTest">
            </mat-form-field>
            (name of the person conducting ultrasonography/image scanning) declare
            that while conducting ultrasonography/image scanning on Ms./Mr.
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="" formControlName="nameOfPersonReciveingTest">
            </mat-form-field>
            (name of the pregnant woman or the person undergoing pre natal diagnostic procedure/test), I have neither detected
            nor disclosed the sex of her fetus to anybody in any manner.
            <br>
            <div class="signature-container">
              <mat-form-field appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput required [matDatepicker]="picker3" formControlName="dateOfConductingTest">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              <!-- <p class="signature-box"> ________________________________________
                Signature, Name in Conducting Diagnostic procedure
                Capitals, Registration Number with Seal of the
                Gynaecologist/Radiologist/Registered Medical Practitioner</p> -->
            </div>
  
  
            <br>
            <hr>
  
            <div class="footer-btn-container">
              <button type="submit" class="btn btn-dark button">Submit</button>
              <button class="btn btn-dark" type="button" (click)="onClickReset()">Reset</button>
            </div>
  
  
          </form>
      </div>
  </div>
</div>
