.signature-box {
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 20px;
  background-color: #fdf8f6;
  padding: 30px;
  text-align: end;
  width: 30vw;
  padding-top: 70px;
}
.signature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-right: 20px;
  box-shadow: 0px 0px 4px 4px #dbdbdb;
  margin-bottom: 8px;
  font-family: "Times New Roman", Times, serif;
}
