<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
      <h4>SECTION D: Declaration
        <br>
        DECLARATION OF THE PERSON UNDERGOING PRE-NATAL DIAGNOSTIC TEST/PROCEDURE KA
        JINGMYNJURJONG KA BRIEW KA BAN LEH IA KA TEST SHWA BAN KHA IA I KHUNLUNG</h4>
        <form class="example-form" [formGroup]="sectionD" (ngSubmit)="onSubmit()">

          I, Mrs. / Mr.

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput required placeholder="Ex. Akhil"  formControlName="name">
          </mat-form-field>
          declare that by undergoing
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput required placeholder="" formControlName="diagnosis">
          </mat-form-field>
          Pre-Natal diagnostic test/procedure. I do not want to know the sex of my foetus.
          <br>
          <div class="signature-container">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput required [matDatepicker]="picker" formControlName="date1">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p class="signature-box">Signature / thumb impression of the person
              undergoing the pre-natal Diagnostic Test/procedure</p>
          </div>


          <br>
          <hr>
          Identified by (name)
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="Ex. Akhil" formControlName="nameField3">
            </mat-form-field>
          age
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input type="number" required matInput placeholder="Ex. 24" formControlName="age">
          </mat-form-field>
          sex
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option *ngFor = "let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <hr>
          Relation (if any)
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Relationship</mat-label>
            <input matInput required placeholder="Ex. Father" formControlName="relationship">
          </mat-form-field>
          address and contact no
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contact Number</mat-label>
            <input type="number" matInput required placeholder="Ex. 9898979796" formControlName="contactNumber">
          </mat-form-field>

          <br>

          <div class="signature-container">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="date2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <p class="signature-box">DECLARATION OF DOCTOR/PERSON CONDUCTING
              PRE NATAL DIAGNOSTIC PROCEDURE/TEST</p>
          </div>

           <br>
            <hr>
            I,
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="" formControlName="nameField4">
            </mat-form-field>
            (name of the person conducting ultrasonography/image scanning) declare
            that while conducting ultrasonography/image scanning on Ms./Mr.
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput required placeholder="" formControlName="nameField5">
            </mat-form-field>
            (name of the pregnant woman or the person undergoing pre natal diagnostic procedure/test), I have neither detected
            nor disclosed the sex of her fetus to anybody in any manner.
            <br>
            <div class="signature-container">
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput required [matDatepicker]="picker4" formControlName="date4">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
              <p class="signature-box"> ________________________________________
                Signature, Name in Conducting Diagnostic procedure
                Capitals, Registration Number with Seal of the
                Gynaecologist/Radiologist/Registered Medical Practitioner</p>
            </div>


            <br>
            <hr>
            <button type="submit" class="btn btn-dark button">Submit</button>
            <button class="btn btn-dark" type="button" (click)="onClickReset()">Reset</button>
          </form>
    </div>
  </div>
</div>
