/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

h2 {
  cursor: pointer;
}
