.container {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
h2 {
  text-decoration: underline;
}
button {
  margin-right: 20px;
  box-shadow: 0px 0px 4px 4px #dbdbdb;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
}
